qr-code {
  display: flex;
  flex-direction: column;
  padding: 1em 0em 1.5em 0em;
  background-color: white;
  color: black;
  overflow: hidden;
}

qr-code a {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 4pt;
}

qr-code img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
